body{
    background-color: black;
}
.navitem :hover{
    color: white;
}

.btn {
    border-radius: 30px;
}
img{
    width: 100%;
}
.card-body{
    text-align: center;
}

@media (max-width: 770px) {
    body{
        background-color: white;
    }
  }
#exampleModalLabel{
    color: blue;
}

.col-form-label{
    color: blue !important;
}

#recipient-name{
    color: black;
}
  
